*{
    padding: 0;
    margin: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --gradient: linear-gradient(rgb(92, 201, 183), rgb(97, 230, 208));
}

.body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-sm {
    color: rgb(2, 87, 66);
}

.container {
background: var(--gradient);
}

.col h3 {
    margin-top: 120px;
}

.col p {
    padding: 30px;
}

footer {
  background: var(--gradient);
  color: rgb(2, 87, 66);
  padding: 10px;
  text-align: center;
}
