@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --gradient: linear-gradient(rgb(255, 255, 255), rgb(169, 241, 223));
  background: var(--gradient);
}

.container {
  width: 800px;
  height: 500px;
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(30, 83, 74, 0.3);
}

.container-form {
  width: 100%;
  overflow: hidden;
}

.container-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in;
}

.container-form h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.box-visible {
  display: flex;
  gap: 12px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.social-networks {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.social-networks ion-icon {
  border: 1px solid #037e5f;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

.container-input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 15px;
  background-color: #eeeeee;
}

.container-input input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.container-form a {
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 5px;
}

button {
  outline: none;
  border: none;
  background-color: aquamarine;
  border-radius: 20px;
  cursor: pointer;
  width: 170px;
  height: 45px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: black;
  font-weight: 500;
}

form button:hover {
  opacity: 0.7;
}

/*Animacion*/

.sign-up {
  transform: translateX(-100%);
}

.container.toggle .login {
  transform: translateX(100%);
}

.container.toggle .sign-up {
  transform: translateX(0%);
}

/*Welcome*/

.container-welcome {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  overflow: hidden;
}

.container.toggle .container-welcome {
  transform: translateX(0);
}

.container-welcome .welcome {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 50px;
  color: #05775e;
  transition: transform 0.5s ease-in-out;
}

.welcome-login {
  transform: translateX(100%);
}

.container-welcome h3 {
  font-size: 40px;
  z-index: 2;
}

.container-welcome p {
  font-size: 14px;
  text-align: center;
  z-index: 2;
}

.container-welcome .button {
  border: 2px solid rgb(11, 110, 85);
  background-color: transparent;
  z-index: 2;
}

.container.toggle .welcome-login {
  transform: translateX(0);
  z-index: 2;
}

.container.toggle .welcome-sign-up {
  transform: translateX(-100%);
}

.triangle {
  --triangle-shape: polygon(100% -80%, 100% 100%, 0 60%);
  --gradient: linear-gradient(rgb(36, 168, 151), rgb(54, 245, 197));
  display: flex;
  background: var(--gradient);
  width: 100%;
  height: 100%;
  clip-path: var(--triangle-shape);
  z-index: 1;
  transition: transform 0.8s ease-in-out;
}

.container.toggle .triangle {
  transform: rotate(180deg);
}
